<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Flask</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <div class="para-content">
        <h1>Page 1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum aliquam, saepe adipisci libero necessitatibus quidem similique amet ullam ex earum incidunt omnis illo temporibus distinctio laborum maiores dolorem! Laboriosam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum aliquam, saepe adipisci libero necessitatibus quidem similique amet ullam ex earum incidunt omnis illo temporibus distinctio laborum maiores dolorem! Laboriosam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum aliquam, saepe adipisci libero necessitatibus quidem similique amet ullam ex earum incidunt omnis illo temporibus distinctio laborum maiores dolorem! Laboriosam.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum aliquam, saepe adipisci libero necessitatibus quidem similique amet ullam ex earum incidunt omnis illo temporibus distinctio laborum maiores dolorem! Laboriosam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum aliquam, saepe adipisci libero necessitatibus quidem similique amet ullam ex earum incidunt omnis illo temporibus distinctio laborum maiores dolorem! Laboriosam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum aliquam, saepe adipisci libero necessitatibus quidem similique amet ullam ex earum incidunt omnis illo temporibus distinctio laborum maiores dolorem! Laboriosam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum aliquam, saepe adipisci libero necessitatibus quidem similique amet ullam ex earum incidunt omnis illo temporibus distinctio laborum maiores dolorem! Laboriosam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et atque cupiditate beatae eligendi saepe nesciunt totam! Consequatur excepturi est autem alias enim doloremque nesciunt velit! Dolorem odio earum vel culpa!</p>
        <p>Repellat at ipsam provident, quos adipisci minima? Dolores, inventore minus. Officia laboriosam tenetur, voluptatibus, ipsa odio reprehenderit temporibus quibusdam deserunt quia a, fugiat eligendi itaque enim quis nesciunt. Earum, itaque.</p>
        <p>Necessitatibus, nihil! Officiis blanditiis, provident labore aspernatur inventore necessitatibus atque sit veniam ad, ratione repudiandae eum! Beatae laborum quasi nostrum sint, tempore blanditiis dicta unde aspernatur, fugiat ipsa voluptatibus nam.</p>
    </div>
    

</body>
</html>