<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jamia - Home</title>
    <!-- CSS supporting files -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/lightslider.css" />
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- JS supporting files -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Insert navbar.html using Jinja2 template -->
      {% include 'navbar.html' %}

      <!-- Insert carousel.html using Jinja2 template -->
      {% include 'carousel.html' %}

      <!-- ! SECTION 1 :: Phones -->
      <h3 class="bg-warning text-dark mt-5 p-2 text-center">Phone Accessories</h3>
       <!-- section phones slider -->
       <section class="slider p-4 mb-3">
        <ul class="cs-hidden autoWidth">
          <!-- loop all phones to get single phone item  -->
          <!-- 
                    each single phone item has index from 0 - 5 WHERE 
                    index 0 = product_id,
                    index 1 = product_name,
                    index 2 = product_desc,
                    index 3 = product_cost,
                    index 4 = product_category,
                    index 5 = product_image_name
                -->
          <!-- loop through items -->
          {% for singlephone in phones %}

          <li>
            <div class="box">
                <div class="slide-img">
                    <img src="../static/images/{{ singlephone[5] }}" 
                    alt="{{ singlephone[1] }}" 
                    width="50%" height="50">

                    <!-- add an overlay button -->
                    <div class="overlay">
                        <a href="/singleitem/{{ singlephone[0] }}" class="buy-btn">Buy Now</a>
                    </div>
                </div>

                <!-- product description -->
                <div class="detail-box">

                    <!-- product name -->
                    {{ singlephone[1] }} <br>

                    <!-- product price -->
                    <b class="text-warning fw-700">
                        Kes. {{ singlephone[3] }}
                    </b>
                </div>
            </div>
          </li>

          <!-- end the loop -->
          {% endfor %}
        </ul>
      </section>

      <!-- ! SECTION 2 -->
      <h3 class="bg-dark text-light mt-5 p-2 text-center">Electronics</h3>
      <!-- section phones slider -->
      <section class="slider p-4 mb-3">
       <ul class="cs-hidden autoWidth">
         <!-- loop all phones to get single phone item  -->
         <!-- 
                   each single phone item has index from 0 - 5 WHERE 
                   index 0 = product_id,
                   index 1 = product_name,
                   index 2 = product_desc,
                   index 3 = product_cost,
                   index 4 = product_category,
                   index 5 = product_image_name
               -->
         <!-- loop through items -->
         {% for singleelectronic in electronics %}

         <li>
           <div class="box">
               <div class="slide-img">
                   <img src="../static/images/{{ singleelectronic[5] }}" 
                   alt="{{ singleelectronic[5] }}" 
                   width="50%" height="50">

                   <!-- add an overlay button -->
                   <div class="overlay">
                       <a href="#!" class="buy-btn">Buy Now</a>
                   </div>
               </div>

               <!-- product description -->
               <div class="detail-box">

                   <!-- product name -->
                   {{ singleelectronic[1] }} <br>

                   <!-- product price -->
                   <b class="text-warning fw-700">
                       Kes. {{ singleelectronic[3] }}
                   </b>
               </div>
           </div>
         </li>

         <!-- end the loop -->
         {% endfor %}
       </ul>
     </section>

     <!-- ! SECTION 3 -->
     <h3 class="bg-secondary text-light mt-5 p-2 text-center">Clothings</h3>
      <!-- section phones slider -->
      <section class="slider p-4 mb-3">
       <ul class="cs-hidden autoWidth">
         <!-- loop all phones to get single phone item  -->
         <!-- 
                   each single phone item has index from 0 - 5 WHERE 
                   index 0 = product_id,
                   index 1 = product_name,
                   index 2 = product_desc,
                   index 3 = product_cost,
                   index 4 = product_category,
                   index 5 = product_image_name
               -->
         <!-- loop through items -->
         {% for singlefootwear in footwear %}

         <li>
           <div class="box">
               <div class="slide-img">
                   <img src="../static/images/{{ singlefootwear[5] }}" 
                   alt="{{ singlefootwear[5] }}" 
                   width="50%" height="50">

                   <!-- add an overlay button -->
                   <div class="overlay">
                       <a href="#!" class="buy-btn">Buy Now</a>
                   </div>
               </div>

               <!-- product description -->
               <div class="detail-box">

                   <!-- product name -->
                   {{ singlefootwear[1] }} <br>

                   <!-- product price -->
                   <b class="text-warning fw-700">
                       Kes. {{ singlefootwear[3] }}
                   </b>
               </div>
           </div>
         </li>

         <!-- end the loop -->
         {% endfor %}
       </ul>
     </section>

     <!-- include footer -->
     {% include 'footer.html' %}
    </div>
  </body>
</html>
