*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
    color: #fff;
    /* font-size: 12px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.para-content{
    background: #fff;
    color: #111;
    margin: 12px 40px;
    padding: 30px;
    font-weight: 400;
}

.para-content h1{
    color: #000c00;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 1.2rem;
}

.para-content p{
    text-align: justify;
    padding: 10px;
    /* line-height: 1rem; */
}