/* custom styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 12px;
    padding: 14px;
}

/* card styles */
.card{
    border: 2px solid transparent;
    box-shadow: 0 0 10px;
    border-radius: 6px;
    background-color: white;
    padding: 18px;
}

.card h2{
    text-align: center;
    text-transform: capitalize;
    color: green;
    margin-bottom: 10px;
    padding: 8px;
}

.card p{
    padding: 12px;
    text-align: justify;
}

.product{
    border: 2px solid yellow;
    padding: 20px;
    border-radius: 8px;
}

/* product A styles */
.product-a{
    background-color: gold;
}

.product-a h3{
    color: green;
    padding: 12px;
}

.product-a p{
    padding: 10px;
    text-align: justify;
    color: red;
}

/* product B styles */
.product-b{
    background-color: purple;
}

.product-b h3{
    color: orange;
    padding: 12px;
}

.product-b p{
    padding: 10px;
    text-align: justify;
    color: white;
}

/* product C styles */
.product-c{
    background-color: green;
}

.product-c h3{
    color: blue;
    padding: 12px;
}

.product-c p{
    padding: 10px;
    text-align: justify;
    color: black;
}